<?xml version="1.0" encoding="utf-8"?>
<application>
	<app_start></app_start>
	<app_name></app_name>
	<project_name></project_name>
	<package_name></package_name>
	<icon relativePath="css/themes/default/app"></icon>
	<target></target>
	<platform>android</platform>
	<versionCode>1</versionCode>
	<versionName>1</versionName>
	<orientation>4</orientation>
	<min_sdk_version></min_sdk_version>
	<max_sdk_version></max_sdk_version>
</application>